body{
    margin: 0px;
    padding: 0%;
}
.header{
    display: flex;
align-items: center;
    justify-content: space-between;
   
    margin: 20px;
}
.logo img{
    width:300px
}
.group-1, .contact{
    display: flex;
  
    justify-content: center;
}
.group-1 p,.contact p{
    margin-left: 20px;
    cursor: pointer;

}
.group-1 p:hover{
    color: blue;
   
}

.container-head {
    position: relative;
    width: 100%;
    height: 450px; 
    overflow: hidden;
    margin-top: 20px;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send the image to the background */
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  .content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; 
    text-align: center; 
    padding: 20px;
    color: white; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .content h2 {
    font-size: 24px;
    color: aliceblue;
  }
  
  .content input {
   width:400px;
   height:50px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .recommendation{
    display: flex;
    justify-content: center;
    width:100%;
    height: 400px;
  }
  .get-rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.image-rec {
    margin-left: 20px;
    display: flex;
   
    justify-content: center;
    align-items: center;

}
.sign-rec{
    background-color: aliceblue;
    color: rgba(5, 64, 255, 0.815);;
    width:90px;
    height:40px;
    border-radius: 5px;
    border:1px solid  rgba(5, 64, 255, 0.815);;
    
}
.image-containers img{
     height: 100%;
     width: 100%;
     opacity: 0.5;
     margin-left: 10px;
     height: 250px;
    width:250px;
}

.main-cards{
    width: 100%;
    height:600px;
    background-color: aliceblue ;
    
    
}
.inner-card img{
    height: 200px;
    width:200px;
}
.inner-card{
background-color: white;
margin: 10px;

height: 500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
cursor: pointer;
transition: transform 0.3s, box-shadow 0.3s;
}
.inner-card:hover{
    transform: scale(1.03); /* Scale the div up by 10% */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}
.inner-card:hover .house-content button {
    color:white; 
    background-color: rgba(5, 64, 255, 0.815);
  }
.house-content{
    text-align: center;
    margin:20px

}
.house-content button{
    background-color: transparent;
    border:1px solid  rgba(5, 64, 255, 0.815);;
    color: rgba(5, 64, 255, 0.815);;
    width: 130px;
    height:40px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.all-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.footer-first p{
    text-align: center;
color: rgb(74, 70, 70);
font-size: small;
}
.footer-first .p-groupl{
    margin-top: 30px;
}
.footer-second{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.footer-logo img{
    width: 200px;
    padding-right: 20px;
}
.footer-socials{
    display: flex;
    align-items: center;
   justify-content: space-evenly;
}
.footer-socials p{
    margin-left: 20px;
}
.footer-socials img{
    max-height: 30px;
    width: auto;
cursor: pointer;
}
.footer-socials img:hover{
    transform: scale(1.05); /* Scale the div up by 10% */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}
.copyright-c p{
    font-size: small;
    padding-left: 20px;
    color: rgb(50, 45, 45);
    font-style: italic;
}
.last-footer img{
    width: 80%;
    height:150px;
    
   
}
.last-footer {
    width: 100%;
    text-align: center;
}